{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Modifier mon mot de passe{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Modifier mon mot de passe</h1>
        {{app.user.lastname}},<br>C'est dans cet espace que vous allez pouvoir modifier votre mot de passe.

        <hr>
        <a href="{{ path('app_account') }}">Retourner à mon compte<br></a>

        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif  %}

        {{ form(form) }}<br>

    </div>
{% endblock %}
