{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Modifier mon mot de passe{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Modifier mon mot de passe</h1>
        {{app.user.lastname}},<br>C'est dans cet espace que vous allez pouvoir modifier votre mot de passe.

        <hr>
        <a href="{{ path('app_account') }}">Retourner à mon compte<br></a>

        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif  %}

{#        {{ form(form, {'attr': {'id': 'signup'}}) }}<br>#}

        {{ form_start(form, {'attr': {'id': 'signup'}}) }}
        <div class="row">
            <div class="col-12">
                {{ form_row(form.lastname, {
                    label: 'Nom'
                }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.email) }}
                <span class="error" aria-live="polite"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                {{ form_errors(form.old_password) }}
                {{ form_row(form.old_password, {
                    label: 'Mot de passe actuel'
                }) }}
                <span class="error" aria-live="polite"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_errors(form.new_password) }}
                {{ form_row(form.new_password, {
                    label: 'Nouveau mot de passe'
                }) }}
                <span class="error" aria-live="polite"></span>
            </div>
        </div>


        {#        <button type="submit" class="btn">S'inscrire</button>#}
        {{ form_end(form) }}

    </div>

{#    <script src="{{ asset('assets/js/pw.js') }}" defer></script>#}
{% endblock %}
