{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Inscription{% endblock %}

{% block content %}
    <h1>Inscription</h1>
{#    {{ form(registrationForm, {'attr': {'id': 'signup'}}) }}#}

    {{ form_start(registrationForm, {'attr': {'id': 'signup'}}) }}
        <div class="row">
            <div class="col-12">
                {{ form_row(registrationForm.lastname, {
                    label: 'Nom'
                }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_row(registrationForm.email) }}
                <span class="error" aria-live="polite"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                {{ form_errors(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.plainPassword,  {'attr': {'id': 'inputPassword'}}, {
                    label: 'Mot de passe'
                }) }}
                <span class="error" aria-live="polite"></span>
            </div>
        </div>

{#        To render all the fields that haven't been rendered manually#}
        {{ form_rest(registrationForm) }}

{#        <button type="submit" class="btn">S'inscrire</button>#}
    {{ form_end(registrationForm) }}

    <p>J'ai déjà un compte, <a href="{{ path('app_login') }}">me connecter</a>.</p>

{#    <script src="{{ asset('assets/js/custom2.js') }}" defer></script>#}

    <script src="{{ asset('assets/js/email&pw.js') }}" defer></script>

{% endblock %}
